  <div>
    <a href="/recent">
      Home
    </a>
  </div>
  
  <div>
    <a href="/stories">
      All stories
    </a>
  </div>
  
  <div>
    <a href="/new_story_form">
      Add a story
    </a>
  </div>
  
  <div>
    <a href="/new_theme_form">
      Add a question prompt
    </a>
  </div>
  
  <div>
    <a href="/users/sign_out" data-method="delete">
      Sign out
    </a>
  </div>

<h1>
  Add a new story
</h1>

<hr>

<%= render("story_templates/validation_failures.html.erb") %>

<form action="/insert_story_record" method="post">
  <div>
    <label for="name">
      Name your story
    </label>

    <input type="text" id="name" name="name" value="<%= @story.name %>">
  </div>

  <div>
   <label for="theme_id">Select the question prompt your story answers from the dropdown below</label>
   <select name="theme_id">
     <% Theme.all.order({ :story_type => :asc }).each do |a_theme| %>
     <option value="<%= a_theme.id %>">
       <%= a_theme.story_type %>
     </option>
     <% end %>
   </select>

  </div>

  <div>
    <label for="file_url">
      Copy and paste the entire URL of the audio file for your story below. (Using SoundCloud or another program or space in the cloud, insert the entire URL for your audio file.)
    </label>

    <input type="text" id="file_url" name="file_url" value="<%= @story.file_url %>">
  </div>

  <button>
    Create story
  </button>
</form>

<hr>

<a href="/stories">
  Return to list of stories
</a>
