  <div>
    <a href="/recent">
      Home
    </a>
  </div>
  
  <div>
    <a href="/stories">
      All stories
    </a>
  </div>
  
  <div>
    <a href="/new_story_form">
      Add a story
    </a>
  </div>
  
  <div>
    <a href="/new_theme_form">
      Add a question prompt
    </a>
  </div>
  
  <div>
    <a href="/users/sign_out" data-method="delete">
      Sign out
    </a>
  </div>


<h1>
  <%= @story.name %> story details
</h1>
<hr>

  <% if current_user.id == @story.owner.id %>
  <dt>Be careful!</dt>
  <dd>
    <nav>
      <div>
        <a href="/existing_story_form/<%= @story.id %>">
          Edit story
        </a>
      </div>

      <div>
        <a href="/delete_story/<%= @story.id %>">
          Delete story
        </a>
      </div>
    </nav>
  </dd>
  <% end %>
<dl>
  <dt>
    Name
  </dt>
  <dd>
    <a href = "<%= @story.file_url %>" target="_blank"> 
      <%= @story.name %> 
    </a>
  </dd>

  <dd>
    <%= @story.comments_count %>
  </dd>

  <dt>
    Author
  </dt>
  <dd>
    <%= @story.author_name %>
  </dd>

  <dt>
    Theme
  </dt>
  <dd>
    <%= @story.prompt %>
  </dd>

  <dt>
    File url
  </dt>
  <dd>
    <a href = "<%= @story.file_url %>" target="_blank"> 
        <%= @story.file_url %> 
      </a>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@story.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@story.updated_at) %> ago
  </dd>
</dl>

<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% @story.comments.order({ :created_at => :asc }).each do |comment| %>
  <tr>
    <td>
      <%= comment.commenter_name %>
    </td>
    <td>
      <%= comment.text %>
    </td>

    <td>
      <%= time_ago_in_words(comment.created_at) %> ago
    </td>
  </tr>
  <% end %>
</table>

<h3>Add a new comment</h3>

<form action="/create_comment_record">
  <input type="hidden" value="<%= @story.id %>" name="story_id">

  <label for="comment_box">Comment</label>
  <textarea id="comment_box" name="comment_text" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>

<hr>
