  <div>
    <a href="/recent">
      Home
    </a>
  </div>
  
  <div>
    <a href="/stories">
      All stories
    </a>
  </div>
  
  <div>
    <a href="/popular">
      Popular stories
    </a>
  </div>
  
  <div>
    <a href="/new_story_form">
      Add a story
    </a>
  </div>
  
  <div>
    <a href="/new_theme_form">
      Add a question prompt
    </a>
  </div>
  
  <div>
    <a href="/users/sign_out" data-method="delete">
      Sign out
    </a>
  </div>

<h1>Recent Stories</h1>


<table>
  <tr>
    <th>Story name</th>
    <th>Question prompt</th>
    <th>Author</th>
    <th>Posted</th>
    <th>Likes</th>
    <th></th>
  </tr>

  <% @story.each do |story| %>
  <tr>
    <td>
      <%= story.name %>
    </td>

    <td>
      <%= story.theme_id %>
    </td>

    <td>
      <%= story.author_id %>
    </td>

    <td>
      <%= time_ago_in_words(story.created_at) %> ago
    </td>

    <td>
      
    </td>
    
    <td>
      <a href="/stories/<%= story.id %>">Show details</a>
    </td>

  </tr>
  <% end %>
</table>
