<h1>
  Comment details
</h1>

<div>
  <div>
    <a href="/comments">
      See list of comments
    </a>
  </div>

  <div>
    <a href="/existing_comment_form/<%= @comment.id %>">
      Edit comment
    </a>
  </div>

  <div>
    <a href="/delete_comment/<%= @comment.id %>">
      Delete comment
    </a>
  </div>
</div>

<dl>
  <dt>
    Text
  </dt>
  <dd>
    <%= @comment.text %>
  </dd>

  <dt>
    Commenter
  </dt>
  <dd>
    <%= @comment.commenter_id %>
  </dd>

  <dt>
    Story
  </dt>
  <dd>
    <%= @comment.story_id %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@comment.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@comment.updated_at) %> ago
  </dd>
</dl>

