  <div>
    <a href="/recent">
      Home
    </a>
  </div>
  
  <div>
    <a href="/stories">
      All stories
    </a>
  </div>
  
  <div>
    <a href="/popular">
      Popular stories
    </a>
  </div>
  
  <div>
    <a href="/new_story_form">
      Add a story
    </a>
  </div>
  
  <div>
    <a href="/new_theme_form">
      Add a question prompt
    </a>
  </div>
  
  <div>
    <a href="/users/sign_out" data-method="delete">
      Sign out
    </a>
  </div>

<h1>
  Question prompt details
</h1>

<div>
  <div>
    <a href="/themes">
      Return to list of question prompts
    </a>
  </div>

  <div>
    <a href="/existing_theme_form/<%= @theme.id %>">
      Edit theme
    </a>
  </div>

  <div>
    <a href="/delete_theme/<%= @theme.id %>">
      Delete theme
    </a>
  </div>
</div>

<dl>
  <dt>
    Question prompt
  </dt>
  <dd>
    <%= @theme.story_type %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@theme.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@theme.updated_at) %> ago
  </dd>
</dl>

