  <div>
    <a href="/recent">
      Home
    </a>
  </div>
  
  <div>
    <a href="/stories">
      All stories
    </a>
  </div>
  
  <div>
    <a href="/popular">
      Popular stories
    </a>
  </div>
  
  <div>
    <a href="/new_story_form">
      Add a story
    </a>
  </div>
  
  <div>
    <a href="/new_theme_form">
      Add a question prompt
    </a>
  </div>
  
  <div>
    <a href="/users/sign_out" data-method="delete">
      Sign out
    </a>
  </div>

<h1>
  List of question prompts
</h1>

<a href="/new_theme_form">
  Add a new question prompt
</a>

<hr>

<table>
  <tr>
    <!--<th>-->
    <!--  ID-->
    <!--</th>-->

    <th>
      Story type
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @themes.each do |theme| %>
  <tr>
    <!--<td>-->
    <!--  <%= theme.id %>-->
    <!--</td>-->

    <td>
      <%= theme.story_type %>
    </td>

    <td>
      <%= time_ago_in_words(theme.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(theme.updated_at) %> ago
    </td>

    <td>
      <a href="/themes/<%= theme.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
