

<h1>
  Edit like #<%= @like.id %>
</h1>

<hr>

<%= render("like_templates/validation_failures.html.erb") %>

<form action="/update_like_record/<%= @like.id %>" method="post">
  <div>
    <label for="story_id">
      Story
    </label>

    <input type="text" id="story_id" name="story_id" value="<%= @like.story_id %>">
  </div>

  <div>
    <label for="fan_id">
      Fan
    </label>

    <input type="text" id="fan_id" name="fan_id" value="<%= @like.fan_id %>">
  </div>

  <button>
    Update like
  </button>
</form>

<hr>

<a href="/likes">
  Go back
</a>
